/* footer */
.footer {
    padding: 30px 0;
    border-top: 2px solid rgba(255, 255, 255, .5);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 597px) {
    .footer-content {
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
    }
}