/* header */
.header {
    padding: 30px 0 10px;
    position: sticky;
    top: 0;
    background-color: #162831;
    z-index: 11;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* menu */
.header__menu-list__item-link {
    padding: 5px 0;
}

.header__menu-list__item-link:hover {
    border-bottom: 2px solid #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.active-link {
    border-bottom: 4px solid #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.header__menu-list__item {
    margin: 25px;
}

/* btn */
.header-btn {
    background-color: #018ABE;
}

.header-btn:hover {
    color: #018ABE;
    background-color: #fff;
}

/* burger menu */
.hamburger-menu {
    display: none;
}

#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 49px;
    right: 80px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 10;
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 60%;
    margin: 0;
    padding: 90px 0;
    list-style: none;
    text-align: center;
    background-color: #162831;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 2;
}

/* элементы меню */

.burger-header-btn {
    background-color: #018ABE;
}

.burger-header-btn:hover {
    color: #018ABE;
    background-color: #fff;
}

.menu__item {
    display: block;
    padding: 25px 10px;
    color: #bebebe;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #333;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

/* media */
@media screen and (max-width: 1024px) {
    .header__menu-list__item {
        margin: 15px;
    }
}

@media screen and (max-width: 993px) {
    .header__menu-list__item {
        margin: 10px;
    }
}

@media screen and (max-width: 769px) {
    .header__menu {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .header__menu-list__item {
        margin-bottom: 15px;
    }

    .menu__btn {
        right: 0px;
    }
}

@media screen and (max-width: 597px) {}

@media screen and (max-width: 426px) {}

@media screen and (max-width: 376px) {
    .logo {
        z-index: 7;
    }

    .menu__box {
        width: 100%;
        z-index: 5;
    }
}

@media screen and (max-width: 321px) {
    .header-btn {
        display: none;
    }

    .menu__btn {
        right: 20px;
    }
}