@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway&display=swap');

/* font-family: 'Playfair Display'; */
/* font-family: 'Raleway'; */
@font-face {
    font-family: 'PNBJ-SB';
    src: url(../fonts/PostNoBillsJaffna-SemiBold.ttf);
}