@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'PNBJ-SB';
    src: url(../fonts/PostNoBillsJaffna-SemiBold.ttf);
}