.wrapper {
    background-image: url(../img/background-main__screen.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.header {
    position: sticky;
    top: 0;
    background-color: #242B33;
    padding: 10px 0;
    z-index: 10;
}

/* logo */
.logo {
    display: flex;
    flex-direction: column;
}

.header__logo {
    justify-content: center;
    align-items: center;
}

.logo-title {
    font-family: 'PNBJ-SB';
    font-size: 36px;
    color: #fff;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

.logo-text {
    font-family: 'Raleway';
    font-size: 12px;
    color: #fff;
    letter-spacing: 2.5px;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

/* nav */
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu_items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu_item {
    font-size: 14px;
    padding: 0 20px;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

.header__menu_item:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* burger menu */
#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 60%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #333;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 2;
}

/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #bebebe;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #333;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

/* hover */
.logo:hover {
    cursor: pointer;
}

.logo-title:hover {
    border-bottom: 0px;
    color: #bebebe;
}

/* Адаптив */
@media screen and (max-width: 1110px) {
    .logo {
        padding-left: 15px;
    }

}

@media screen and (min-width:700px) {
    .menu__btn {
        display: none;
    }
}

@media screen and (max-width: 700px) {


    .wrapper {
        padding-top: 10px;
    }

    .header__menu {
        display: none;
    }
}