@import url("../css/fonts.css");
@import url("../css/header.css");
@import url("../css/main.css");
@import url("../css/testimonials.css");
@import url("../css/appartmetns.css");
@import url("../css/cta.css");
@import url("../css/map.css");
@import url("../css/cta__form.css");
@import url("../css/footer.css");

/* Обшие настройки */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

body {
    background-color: #242B33;
}

/* Ссылки */
a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

/* Списки */
ul {
    list-style: none;
}

li {
    color: #fff;
}

ol {
    list-style: none;
}

/* Текст */

.text {
    font-family: 'Raleway';
    font-size: 20px;
    color: #fff;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

/* Заголовки */


.title {
    font-family: 'Playfair Display';
    font-size: 36px;
    color: #D4C17F;
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
}

/* Кнопки */
.btn {
    padding: 18px 69px;
    color: #fff;
    border: 0;
    background-color: #D4C17F;
}

/* Инпуты */
.input {
    width: 100%;
    color: #bebebe;
    background-color: rgba(255, 255, 255, .2);
    border: 0;
    text-align: center;
}

/* focus */
.btn:focus {
    color: #333;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

input:focus {
    outline: none;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* active */
input:active {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* hover */
.btn:hover {
    color: #333;
    background-color: #bebebe;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

input:hover {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.img-grow:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

a:hover {
    color: #bebebe;
    border-bottom: 2px solid #bebebe;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

img:hover {
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
}

/* active */

/* media */
@media screen and (max-width: 1400px) {
    .btn {
        padding: 18px 61px;
    }
}

@media screen and (max-width: 1110px) {
    .btn {
        padding: 12px 61px;
    }
}

@media screen and (max-width: 994px) {
    .input {
        margin: 0;
        margin-top: 10px;
    }
}

@media screen and (max-width: 597px) {
    .input {
        width: 70%;
    }
}

@media screen and (max-width: 700px) {

    a:hover {
        color: #D4C17F;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}