.main {
    padding: 50px 0 150px 0;
}

.main-content {
    max-width: 1300px;
    background-image: url(../../img/homepage/main/first-screen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.main-content__title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content__title-title {
    padding-top: 136px;
    padding-bottom: 20px;
}

.pod-title {
    font-size: 24px;
}

.pod-title::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 14px;
    background-image: url(../../img/homepage/main/right-list.svg);
    background-repeat: no-repeat;
    top: 22%;
    right: 35%;
}

.pod-title::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 14px;
    background-image: url(../../img/homepage/main/left-list.svg);
    background-repeat: no-repeat;
    top: 22%;
    left: 35%;
}

.main-content__title-main-title {
    padding-bottom: 210px;
    line-height: 80px;
    text-align: center;
}

.main-title {
    font-size: 64px;

}

/* sessions */
.sessions {
    padding: 150px 0;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.podtitle::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 14px;
    background-image: url(../../img/homepage/main/right-list-blue.svg);
    background-repeat: no-repeat;
    top: 22%;
    right: 38%;
}

.podtitle::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 14px;
    background-image: url(../../img/homepage/main/left-list-blue.svg);
    background-repeat: no-repeat;
    top: 22%;
    left: 38%;
}

.sessions-content {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-column__content {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    width: 100%;
    max-width: 416px;
    height: 540px;
    background-image: url(../../img/homepage/main/sessions/sessions-image.jpg);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sessions-column__content-active {
    border-bottom: 7px solid #018abe;
}

.sessions-column__content:hover {
    border-bottom: 7px solid #fff;
}

.second-column__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.second-column__content_first {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    width: 100%;
    max-width: 416px;
    height: 258px;
    background-image: url(../../img/homepage/main/sessions/sessions-image.jpg);
    background-position: center left;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 12px;
}

.second-column__content_second {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    width: 100%;
    max-width: 416px;
    height: 258px;
    background-image: url(../../img/homepage/main/sessions/sessions-image.jpg);
    background-position: center left;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 12px;
}

.third-column__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.third-column__content_first {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    width: 100%;
    max-width: 416px;
    height: 258px;
    background-image: url(../../img/homepage/main/sessions/sessions-image.jpg);
    background-position: center left;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 12px;
}

.third-column__content_second {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    width: 100%;
    max-width: 416px;
    height: 258px;
    background-image: url(../../img/homepage/main/sessions/sessions-image.jpg);
    background-position: center left;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 12px;
}

/* Ссылки */
.sessions-content__item-link {
    font-size: 24px;
    padding: 50px;
}

/* slider */
.slider_bl {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
}

#slider_bl .slider__wrapper {
    max-width: 100%;
    height: 540px;
    margin: 1em auto;
}

#slider_bl input {
    display: none
}

#slider_bl .inner {
    width: 500%;
    line-height: 0
}

#slider_bl article {
    width: 20%;
    float: left;
    position: relative
}

#slider_bl article img {
    width: 100%
}

#slider_bl .slider-prev-next-control {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

#slider_bl .slider-prev-next-control label {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    opacity: .7
}

#slider_bl .slider-prev-next-control label:hover {
    opacity: 1
}

#slider_bl .slider-dot-control {
    position: absolute;
    width: 100%;
    right: -3%;
    text-align: center
}

#slider_bl .slider-dot-control label {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #bbb;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

#slider_bl .slider-dot-control label:hover {
    background: #ccc;
    border-color: #777
}

#slider_bl .info {
    position: absolute;
    font-style: italic;
    line-height: 20px;
    opacity: 0;
    color: #000;
    text-align: left;
    -webkit-transition: all 1s ease-out .6s;
    -moz-transition: all 1s ease-out .6s;
    transition: all 1s ease-out .6s
}

#slider_bl .info h3 {
    color: #fcfff4;
    margin: 0 0 5px;
    font-weight: 400;
    font-size: 1.5em;
    font-style: normal
}

#slider_bl .info.top-left {
    top: 30px;
    left: 30px
}

#slider_bl .info.top-right {
    top: 30px;
    right: 30px
}

#slider_bl .info.bottom-left {
    bottom: 30px;
    left: 30px
}

#slider_bl .info.bottom-right {
    bottom: 30px;
    right: 30px
}

#slider_bl .slider-wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    background: #fcfff4;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#slider_bl .slider-wrapper .inner {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all .8s cubic-bezier(.77, 0, .175, 1);
    -moz-transition: all .8s cubic-bezier(.77, 0, .175, 1);
    transition: all .8s cubic-bezier(.77, 0, .175, 1)
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    margin: 0;
    line-height: 38px;
    font-size: 3em;
    display: block;
    color: #777
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1)::after {
    content: "\f105";
    padding-left: 15px
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2),
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3),
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4),
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5),
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1) {
    display: block;
    float: right;
    margin-right: 5px
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5),
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1),
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2),
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3),
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4) {
    display: block;
    float: left;
    margin-left: 5px
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after {
    content: "\f104";
    padding-left: 8px
}

#slider_bl #slide1:checked~.slider-dot-control label:nth-child(1),
#slider_bl #slide2:checked~.slider-dot-control label:nth-child(2),
#slider_bl #slide3:checked~.slider-dot-control label:nth-child(3),
#slider_bl #slide4:checked~.slider-dot-control label:nth-child(4),
#slider_bl #slide5:checked~.slider-dot-control label:nth-child(5) {
    background: #333
}

#slider_bl #slide1:checked~.slider-wrapper article:nth-child(1) .info,
#slider_bl #slide2:checked~.slider-wrapper article:nth-child(2) .info,
#slider_bl #slide3:checked~.slider-wrapper article:nth-child(3) .info,
#slider_bl #slide4:checked~.slider-wrapper article:nth-child(4) .info,
#slider_bl #slide5:checked~.slider-wrapper article:nth-child(5) .info {
    opacity: 1
}

#slider_bl #slide1:checked~.slider-wrapper .inner {
    margin-left: 0
}

#slider_bl #slide2:checked~.slider-wrapper .inner {
    margin-left: -100%
}

#slider_bl #slide3:checked~.slider-wrapper .inner {
    margin-left: -200%
}

#slider_bl #slide4:checked~.slider-wrapper .inner {
    margin-left: -300%
}

#slider_bl #slide5:checked~.slider-wrapper .inner {
    margin-left: -400%
}

.sesinons-slider-img {
    height: 100%;
    max-height: 540px;
}

@media only screen and (max-width:850px) and (min-width:450px) {
    #slider_bl .slider-wrapper {
        border-radius: 0
    }
}

@media only screen and (max-width:450px) {
    #slider_bl .slider-wrapper {
        border-radius: 0
    }

    #slider_bl .slider-wrapper .info {
        opacity: 0
    }
}

@media only screen and (min-width:850px) {
    #slider_bl body {
        padding: 0 80px
    }
}

/* media */
@media screen and (max-width: 1025px) {
    .main-content {
        background-position: center center;
    }

    .pod-title::after {
        right: 30%;
    }

    .pod-title::before {
        left: 30%;
    }

    .podtitle::after {
        right: 30%;
    }

    .podtitle::before {
        left: 30%;
    }
}

@media screen and (max-width: 993px) {}

@media screen and (max-width: 769px) {
    .main-title {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
    }

    .pod-title::after {
        right: 20%;
    }

    .pod-title::before {
        left: 20%;
    }

    .podtitle::after {
        right: 20%;
    }

    .podtitle::before {
        left: 20%;
    }

    .sessions-content {
        display: none;
    }

    .slider_bl {
        display: flex;
    }
}

@media screen and (max-width: 597px) {
    .pod-title {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }

    .main-title {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
    }

    .pod-title::after {
        top: 78%;
        right: -25%;
    }

    .pod-title::before {
        top: 78%;
        left: -25%;
    }

    .podtitle::after {
        right: 15%;
    }

    .podtitle::before {
        left: 15%;
    }
}

@media screen and (max-width: 426px) {
    .main-content__title-title {
        padding-bottom: 0px;
    }

    .main-content__title-main-title {
        padding-bottom: 210px;
        line-height: 100px;
        text-align: center;
    }

    .pod-title::after {
        top: 88%;
    }

    .pod-title::before {
        top: 88%;
    }

    .podtitle::after {
        right: 10%;
    }

    .podtitle::before {
        left: 10%;
    }
}

@media screen and (max-width: 376px) {
    .pod-title {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
    }

    .main-title {
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
    }

    .podtitle::after {
        right: 5%;
    }

    .podtitle::before {
        left: 5%;
    }
}