.header {
    padding: 25px 0;
    position: sticky;
    top: 0;
    background-color: #333;
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.navigation__profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Стилизация  */
.header__menu-item {
    margin-right: 40px;
}

/* ссылки */
.header__menu-item:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* logo */
.logo {
    z-index: 11;
}

/* search */
.search {
    margin-right: 10px;
}

.search-bar {
    max-width: 120px;
    background-color: #333;
    padding: 2px 10px;
    border: 2px solid #3a3b3c;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.search-bar:hover {
    border: 2px solid #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.search-bar:focus {
    outline: none;
    border: 2px solid #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.search-bar::placeholder {
    color: #fff;
}

/* profile */
.profile {
    padding: 0 20px;
}

/* типо hr */
.burger-navigation__profile {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 30px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    max-width: 100vw;
}

/* burger-login */
.burger-navigation__login {
    padding-bottom: 50px;
}

/* burger-search */
.burger-navigation__search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* burger-navigation */

.burger-profile {
    object-fit: cover;
    max-width: 100%;
    width: 50px;
}

.burger-like {
    object-fit: cover;
    max-width: 100%;
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

/*  burger society */
.burger-society {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

/* burger menu */
.hamburger-menu {
    display: none;
}

#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 10;
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 61%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #333;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 2;
}

/* элементы меню */
.menu__item {
    display: flex;
    padding: 12px 24px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #333;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

/* media */
@media screen and (max-width: 1170px) {
    .navigation__login {
        padding: 0 20px;
    }

    .profile {
        padding: 0 15px;
    }
}

@media screen and (max-width: 1024px) {
    .header__menu-item {
        margin-right: 0;
        padding: 0 10px;
    }

    .navigation__search-bar {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    .hamburger-menu {
        display: flex;
    }

    .header__menu {
        display: none;
    }

    .navigation__login {
        display: none;
    }

    .navigation__profile {
        display: none;
    }

    .navigation__search-bar {
        display: flex;
    }

    .burger-navigation__search-bar {
        display: none;
    }
}

@media screen and (max-width: 597px) {
    .header__logo {
        padding-left: 40px;
    }

    .navigation__search-bar {
        display: none;
    }

    .burger-navigation__search-bar {
        padding: 30px 0;
        display: flex;
    }

    .search-bar {
        max-width: 250px;
    }

    .menu__box {
        height: 74%;
    }
}

@media screen and (max-width: 426px) {
    .header__logo {
        padding-left: 10px;
    }

    .menu__box {
        padding-top: 125px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 376px) {
    .menu__btn {
        right: 30px;
    }
}

@media screen and (max-width: 321px) {
    .menu__btn {
        right: 20px;
    }
}